@use "../../../scss/abstracts/" as *;

.myprofilewrapper {
  background-color: var(--bgc);
  border-radius: 35px;
  padding: 60px 30px;
  @media screen and (max-width: 600px) {
    padding: 20px 15px;
  }
  h2 {
    color: #000;
    font-size: 32px;
    margin-bottom: 60px;
  }
  .upbtn {
    background-color: #ffb2a3;
    color: #fff;
    padding: 18px 58px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 30px;
    @media screen and (max-width: 600px) {
      margin-left: 15px;
    }
  }
  .form__control {
    position: relative;
    margin-bottom: 2rem;
    @media screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
  .profileformcol {
    width: 50%;
    padding: 0px 30px;

    label {
      background-color: transparent;
      top: 0;
      position: relative;
      margin-bottom: 3px;
      display: block;
    }

    input {
      width: 100%;
      border: 1px solid #c7c7c7;
      background-color: #fff;
      border-radius: 100px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
    }

    @media screen and (max-width: 300px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
